.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(128,128,128, 0.8);
  }
  
.modal-main {
  position:fixed;
  background: white;
  width: 40%;
  // height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 2%;
  display: flex;
  border: solid 5px #305674;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.horizontal-img { //.modal-main > 
  margin: auto;
  width: 50%;
}
.img-container img {
  width: 100%;
}
.horizontal-item { //.modal-main > 
  margin: 1%;
  width: 50%;
}
.horizontal-x { //.modal-main >
  width: 5%;
  height: 5%;
  text-align: center;
  background-color: #305674;
  border: none;
  color: white;
}
.horizontal-x:hover{
  background-color: grey;
  color: white;
}
button:focus {outline:0;}
.info{
  font-size: 12px;
  margin-left: 4%;
}