$movie-title: 16px;
$text-size: 12px;
$standard-color: #305674;
$margin: 1%;
$item-margin: 4%;

.wrapper{
    width: 40%;
    border-style: solid;
    border-width: 5px;
    border-color: $standard-color;  
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin: $margin;
}
.horizontal-item {
    margin: $margin;
    width: 50%;
}
 .horizontal-img {
    display: flex;
    padding: 0%;
    width: 50%;
    align-items: center; 
    img {
        width: 100%;
    }    
}
.date {
    color: grey;
    font-size: 10px;
    margin: $item-margin;
}
.overview {
    font-size: $text-size;
    margin-left: $item-margin;
    margin-top: 4%;
}
%title{
    font-size: $movie-title;
    font-weight: bold;
    margin-left: $item-margin;
    margin-top: $item-margin;
}
.link{
    @extend %title;
    display: inline-block;
    color: #000;
    text-decoration: none;
}
.link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}
.link:hover::after{
    width: 100%;
}
.link:visited{
    text-decoration: none;
}
.more-info {
    color: white;
    font-size: 10px;
    margin-top: $item-margin;
    margin-left: $item-margin;
    background-color: #305674;
    border: none;
}
.more-info:hover{
    background-color: grey;
    color: white;
}
.loading{
    margin-left: 22%;
    margin-top: 1%;
}
input:focus{
    outline: none;
}
.input{
    width: 20%;
    height: 35px;
    font-size: 20px;
    margin-left: 22%;
    margin-bottom: 0.5%;
}
