.header{
  height: 50px;
  width: 700px;
  display: flex;
  margin-bottom: 30px;
}
.header-item{
  flex-direction: row;
  margin-left: 30px;
}
.container{
  align-items: center;
  height: 100%;
  border-style: solid;
  border-width: 10px;
  border-color: #305674;
  padding-top: 20px;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}
.button {
  border: 10px solid white;
  // padding: 3px;
  background-color: white;
}
.button:hover {
  border: 10px solid #305674;
}
.button:focus {outline:0;}
.p{
  margin: 30px;
  font-size: 20px;
}
