$margin: 20%;

.header{
  height: 15%;
  width: 50%;
  display: flex;
  margin-left: $margin;
}
.header-item{
  flex-direction: row;
  margin-left: 4%;
}
.header-item:hover{
  text-decoration: line-through;
}
.item-selected{
  text-decoration: line-through;
}
.container{
  align-items: center;
  margin-top: 1%;
}
.line{
  border-top: 10px solid #305674;
  width: 100%;
  color: #305674;
}
.button{
  text-emphasis: bold;
  border: none; 
}
.emoji{
  margin-left: 22%;
  margin-top: 2%;
  font-size: 20px;

}