.header{
  height: 15%;
  width: 50%;
  display: flex;
  margin-left: 10%;
}
.header-item{
  flex-direction: row;
  margin-left: 4%;
}
.header-item:hover{
  text-decoration: line-through;
}
.item-selected{
  text-decoration: line-through;
}
.container{
  align-items: center;
  // height: 100%;
  // border-style: solid;
  // border-width: 10px;
  // border-color: #305674;
  // background-color: #305674;  
  padding-top: 1%;
  margin-left: 4%;
  // margin-right: 10%;
  margin-top: 3%;
}
.line{
  border-top: 10px solid #305674;
  width: 100%;
  color: #305674;
  
}

.emoji{
  margin-left: 10%;
  margin-top: 2%;
  font-size: 20px;

}